@media (max-width: 600px){
    nav li a{
        font-size: 14px;
        margin-left: 10px;
    }
    body h2{
        font-size:large;
    }
    body li{
        font-size: small;
    }
    h1{
        font-size: 18px;
    }
    .contactinfo img{
        width: 20px;
        height: 20px;
    }
}

html{
    min-width: 400px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(78, 56, 36);
    font-family: poppins, sans-serif;
    font-weight: 600;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}
nav ul {
    padding: 20px 40px;
    background-color: rgb(253, 230, 129);
    text-align: left;
}
nav{
    width: 100%;
}
header p{
    font-style: italic;
}
header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    text-align: center;
}
header h1{
    font-size: 2.5em;
    margin: 0;
    color: rgb(202, 118, 132);
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 0;

}

body h2, p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body h2{
    color: rgb(78, 56, 36);
}

.catering{
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.foodimg{
    width: auto;
    height: 200px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    max-width: 100%;
    justify-content: center;
}
.orderimg{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
}
.orderimg figure{
    margin: 0;
}
.orderimg img{
    max-height: 200px;
}
.orderimg figcaption{
    margin-top: 5px;
    font-size: 0.5em;
    color: #555;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.openorder{
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.orderbutton{
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.orderbutton a{
    background-color: rgb(67, 233, 150);
    text-decoration: none;
    color: rgb(78, 56, 36);
    padding: 10px 20px;
    font-family: poppins, sans-serif;
    font-weight: 600;
}
.orderbutton a:hover{
    background-color: rgb(43, 189, 118);
    color: white;
}